<form method="POST" action="/restaurant/create/{{id}}">
  <input type="hidden" name="id" value="{{id}}"/>
  <label>Restaurant<input type="text" name="restaurant" value="{{restaurant}}"/></label><br/>
  <label>Category<input type="text" name="category" value="{{category}}"/></label><br/>
  <label>Location<input type="text" name="location" value="{{location}}"/></label><br/>
  <label>Price<input type="text" name="price" value="{{price}}"/></label><br/>
  <label>Phone<input type="text" name="phone" value="{{phone}}"/></label><br/>
  <label>Corkage<input type="text" name="corkage" value="{{corkage}}"/></label><br/>

<input type="submit" />
</form>