<form method="POST" action="/restaurant/create/{{id}}">
  <input type="hidden" name="id" value="{{id}}"/>
  <label>Restaurant<input type="text" name="restaurant" value="{{restaurant}}"/></label><br/>
  <label>Category<input type="text" name="category" value="{{category}}"/></label><br/>
  <label>Location<input type="s" name="location" value="{{location}}"/></label><br/>
{{!-- 
  //change this to dropdown --}}
  <label>Price<value="{{price}}"/><select>
<option value="Cheap and Cheerful">Cheap and Cheerful</option>
  <option value="kjhkj">staggy</option>
  <option value="fgh">ewwwwww</option>
  </select>
  </label><br/>
 
  <label>Phone<input type="text" name="phone" value="{{phone}}"/></label><br/>
  <label>Corkage<input type="text" name="corkage" value="{{corkage}}"/></label><br/>

<input type="submit" />
</form>

