
<div class="container">

  <form method="POST" action="/edit/:{{restaurant}}"></form>

  <img class="img-circle" src="{{image}}" alt="{{restaurant}}">
  <label for="name" class="form-item">
    Restaurant: 
    <input type="text" name="restaurant" value="{{restaurant}}">
  </label>
  
  <label for="category" class="form-item">
    Category:
    <input type="text" name="category" value="{{category}}">
  </label>
  
  <label for="location" class="form-item">
    Location:
    <input type="text" name="location" value="{{location}}">
  </label>
  
  <label for="price" class="form-item">
    Range:
    <input type="text" name="price" value="{{price}}">
  </label>

 <label for="phone" class="form-item">
    Phone:
    <input type="text" name="phone" value="{{phone}}">
  </label>

 {{!-- <input type="hidden" name="image" value="{{image}}"> --}}
  
  <input type="submit" name="" value="Submit">
</form>