 <div class="restaurant">
    <a class="nav" href="/">Home</a>
{{#each byow}}

  ID: {{id}}
  <br>
  Name: {{restaurant}}
  <br>
  Category: {{category}}
  <br>
  Corkage: {{corkage}}
  <br>
  Location: {{lcoation}}
  <br>
  Price: {{price}}
  <br>
  Phone: {{phone}}
{{/each}}


</div>