
   {{!-- <a class="nav" href="/">Home</a> --}}
   <div class="listings">
{{#each byow}}

  <h1>{{restaurant}}</h1>
  Category: {{category}}
  <br>
  Corkage: ${{corkage}}
  <br>
  Location: {{location}}
  <br>
  Price: {{price}}
  <br>
  Phone: {{phone}}
  <br>
  <br>
{{/each}}

</div>