 <div class="col-6">
   {{!-- <a class="nav" href="/">Home</a> --}}
{{#each byow}}

  
  <br>
  Name: {{restaurant}}
  <br>
  Category: {{category}}
  <br>
  Corkage: {{corkage}}
  <br>
  Location: {{location}}
  <br>
  Price: {{price}}
  <br>
  Phone: {{phone}}
  <br>
{{/each}}


</div>