<div class="restaurant">
 {{#each data}}
 {{id}}
   <h2>{{restaurant}}</h2>
  <br>
  Category: {{category}}
  <br>
  Corkage: ${{corkage}}
  <br>
  Location: {{location}}
  <br>
  Price Range: {{price}}
  <br>
  Phone: {{phone}}
  {{/each}}
</div>
