<div class="restaurant">
    add phone thing to test dial and not sit looooow
    {{#each data}}
    <h2> <a href="/restaurant/{{restaurant}}">{{restaurant}}</a></h2>
     Category: {{category}}
    <br> Location: {{location}}
    <br> Price Range: {{price}}
    <br> Phone: <a href="tel:{{phone}}">{{phone}}</a>
    <br>
     {{/each}}
     
</div>